<div dragable role="dialog" h="226" w="458">
	<div class="notice-dialog-title1">
		<p class="dialog-title">修改安全口令</p>
		<i class="close-notice-dialog" ng-click="cancel()"></i>
	</div>
	<div class="notice-dialog-confirm" ng-show="!change.success">
		<form method="post" name="passwordform"  novalidate>
			<div class="experience-content">
				<div class="passwordrow">
					<label>旧安全口令</label>
					<input class="login-input change" ng-change="clearErrorMsg()" type="password" name="oldpassword" ng-maxlength='16' ng-minlength='6' ng-model="change.oldpassword" placeholder="输入旧安全口令(6-16位)" required>
				</div>
				<div class="passwordrow">
					<label>新安全口令</label>
					<input class="login-input change" ng-change="clearErrorMsg()" type="password" name="newpassword" ng-maxlength='16' ng-minlength='6' ng-model="change.newpassword" placeholder="输入新安全口令(6-16位)" required>
				</div>
				<div class="passwordrow">
					<label>新安全口令</label>
					<input class="login-input change" ng-change="clearErrorMsg()" type="password" name="confrimpassword" ng-maxlength='16' ng-minlength='6' ng-model="change.comfirmpassword" placeholder="再次输入新安全口令(6-16位)" required>
					<div class="errorMsg">
						<span ng-if="change.comfirmpassword != change.newpassword" class="wrong-bg">两次输入的安全口令不一致！</span>
					</div>
					<div class="errorMsg">
						<span ng-if="change.errorMsg" class="wrong-bg">{{change.errorMsg}}</span>
					</div>
				</div>
				<button class="notice-confirm notice-add changepassword" ng-click="ok()" ng-class="{'disabled':passwordform.$invalid || change.comfirmpassword != change.newpassword }" ng-disabled="passwordform.$invalid || change.comfirmpassword != change.newpassword">确认</button>
				<button class="notice-confirm changepassword" ng-click="cancel()">取消</button>
			</div>
		</form>
	</div>
	<div class="modifysuccess-confirm" ng-show="change.success">
		<div class="modifysuccess-content">
			<div class="modifysuccess">
				<span>安全口令修改成功!</span>
			</div>
			<button class="notice-confirm changepassword" ng-click="cancel()">确定</button>
		</div>
	</div>
</div>