<div dragable role="dialog" class="notice-dialog-page" h="226" w="458">
	<div class="notice-dialog-title1">
		<p class="dialog-title">用户体验计划</p>
		<i class="close-notice-dialog" ng-click="cancel()"></i>
	</div>
	<div class="notice-dialog-confirm">
		<div class="experience-content">
			<p class="experience-comment">{{experience.comment}}</p>
			<p class="experience-signature">{{experience.signature}}</p>
			<button class="notice-confirm notice-add" ng-click="ok()">加入</button>
			<button class="notice-confirm" ng-click="cancel()">拒绝</button>
		</div>
	</div>
</div>