.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/front/common/img/bj0.png");
    background-size: 100% 100%;
}


/*内容部分*/

.content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0
}

.content hr {
    margin: 0;
}

.content .summary {
    position: absolute;
    top: calc(50% - 211px);
    left: 10%;
    min-width: 961px;
    max-width: 1051px;
    opacity: 0.9;
    display: none;
}

.content .summary.gradient {
    background: -webkit-linear-gradient(120deg, #cbd82d, #02c098);
    background: -o-linear-gradient(120deg, #cbd82d, #02c098);
    background: -moz-linear-gradient(120deg, #cbd82d, #02c098);
    background: -ms-linear-gradient(top, #cbd82d, #02c098);
    background: linear-gradient(120deg, #cbd82d, #02c098);
    background-color: #02c098;
}

.content .summary .item {
    min-width: 528px;
    margin: 50px 100px 20px 100px;
    display: none;
}

.content .summary .item.show {
    display: block;
}

.content .summary .title {
    padding-bottom: 23px;
    position: relative;
    text-align: left;
}

hr {
    opacity: 0.5;
    border: none;
    border-bottom: 1px solid white;
}

.content .summary .item h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 13px;
    float: left;
}

.content .rect {
    width: 26px;
    height: 6px;
    background-color: #fff;
    float: left;
    margin-top: 34px;
    margin-left: 10px;
}

.content .summary .item h2 {
    font-size: 30px;
    color: white;
    font-weight: normal;
    font-family: Arial;
}

.content .summary .item h3 {
    font-size: 24px;
    color: white;
    font-weight: normal;
}

.content .summary .item.join h3 {
    cursor: pointer;
    border-radius: 24px;
    border: 2px solid white;
    width: 122px;
    line-height: 38px;
    text-align: center;
    height: 38px;
    margin-top: 10px;
}

.content .summary .describe {
    padding: 0 0 5px 0;
}

.content .summary .item .describe h2 {
    font-size: 28px;
    color: white;
    font-family: "微软雅黑";
}

.content .summary .item .describe p {
    font-size: 16px;
    color: white;
    text-align: left;
    line-height: 27px;
    margin: 8px 0 6px 0;
}


/*more*/

.content .summary .more {
    margin: 0px 101px;
    width: 121px;
    height: 43px;
    background-color: white;
    font-size: 16px;
    font-family: "Tahoma";
    border-radius: 24px;
    line-height: 43px;
    text-align: center;
    color: #02C098;
    margin-bottom: 55px;
    cursor: pointer;
}


/*西安站*/

.content .station {
    position: absolute;
    top: 51px;
    right: 66px;
    font-size: 16px;
    color: white;
}

.content .station p {
    font-size: 14px;
    line-height: 32px;
    color: white;
    text-align: right;
}


/*右侧小圆点*/

.content .list {
    position: absolute;
    width: 16px;
    right: 10%;
    top: 50%;
}

.content .list .radio {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: none;
    background: #fff;
    margin: 9px 0;
    opacity: 0.6;
    cursor: pointer;
}

.content .list .radio.now {
    background: #36c880;
    opacity: 1
}


/*版权*/

.footer-home {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 12%;
    bottom: 62px;
    opacity: 0.5;
}